/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #d6d6d6;
}

p {
    font-size: 1.5rem;
}

header {
    height: 100vh;
    background: url("header.jpeg") no-repeat center;
    background-size: 100% auto;
}

header h1 {
    color: rgba(204, 204, 204, 0.7);
    font-size: 6rem;
    text-align: right;
    padding-top: 20rem;
    padding-right: 10rem;
}

nav {
    z-index: 5;
    top: 10px;
    position: fixed;
    background-color: rgba(204, 204, 204, 0.7);
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    padding: 10px 0;
}

nav ul li:hover {
    background-color: rgba(99, 99, 99, 0.7);
}

nav ul li a {
    font-size: 2rem;
    color: rgb(85, 85, 85);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    position: relative;
    margin: auto;
    min-height: 100vh;
}

.textabout {
    min-width: 40vw;
    max-width: 50vw;
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about img {
    height: 300px;
    padding-top: 50px;
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

main ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

main ul li {
    padding: 10px;
}

main ul li img {
    height: 300px;
}

main ul li p {
    position: relative;
    top: -50px;
    left: 20px;
    color: rgb(73, 73, 73);
    padding: 5px;
    background: linear-gradient(to right, rgba(182, 181, 181, 1), rgba(182, 181, 181, 0.5));
    width: 70%;
}

footer {
    background-color: #007e1b;
    height: 100vh;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    font-size: 3rem;
    padding-bottom: 10px;
}

footer a {
    font-size: 2rem;
}

footer p, footer a {
    font-weight: bold;
    text-align: center;
    color: rgb(223, 223, 223);
    text-decoration: none;
    width: 50%;
}

.zoom {
    height: 500px;
}

.green {
    background-color: #007e1b;
    color: white;
}

.noBackground {
    background-color: transparent;
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}